<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Books List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Books List</h1>
<h2><a href="http://localhost:8080/base/filter">Pageable Filter</a></h2>

<div>
    <table border="1">
        <tr>
            <th><a href="http://localhost:8080/base/booksList?task=id"> ID </a></th>
            <th><a href="http://localhost:8080/base/booksList?task=author"> Author </a></th>
            <th><a href="http://localhost:8080/base/booksList?task=title"> Title </a></th>
        </tr>

        <tr th:each ="books : ${books}">
            <td th:utext="${books.id}">...</td>
            <td th:utext="${books.author}">...</td>
            <td th:utext="${books.title}">...</td>
        </tr>
    </table>
</div>
<br>
<a href="addBook">Add Book</a>
</body>
</html>