<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Books List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Books List</h1>
<a href="http://localhost:8080/base/booksList?task=id">Sort by ID</a><br><br>
<a href="http://localhost:8080/base/booksList?task=author">Sort by Author</a><br><br>
<a href="http://localhost:8080/base/booksList?task=title">Sort by Title</a>


<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Title</th>
        </tr>
        <tr th:each ="books : ${books}">
            <td th:utext="${books.id}">...</td>
            <td th:utext="${books.author}">...</td>
            <td th:utext="${books.title}">...</td>
        </tr>
    </table>
</div>
<br>
<a href="addBook">Add Book</a>
</body>
</html>